@font-face {
  font-family: 'Matura_MT_Script_Capitals';
  src:  url('Matura_MT_Script_Capitals.eot') format('eot'),
        url('ufonts.com_matura-mt-script-capitals.ttf') format('truetype');
}


body {
  background-color: gray;
}
header {

}

h1 {
  text-align: center;
  font-family: 'Matura MT Script Capitals';
  font-size: 24px;
  color: lime;
}

li {
  text-align: center;
  font-family: 'Matura MT Script Capitals';
  color: white;
}

form {

}

fieldset {
  background-color: silver;
  border-color: olive;
  width: 30%;
  margin: auto;
}

legend {
  font-weight: bold;
  color: yellow;
  font-size: 24px;
}

h3 {
  font-weight: bold;
  color: white;
}

hr {
  font-weight: bold;
  color: olive;
}

select {
  width: 100%;
}

label {
  font-weight: bold;
  font-size: 18px;
  color: aqua;
}
